@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
}

body {
  background-color: var(--bg-app);
}

:root {
  --bg-app: #f4f9fd;
  --bg-block: #ffffff;
  --bg-nav-block: #3f8cff;
  --bg-modal: #d2defe;
  --user-text: #0a1629;
  --nav-text: #7d8592;
  --card-text: #91929e;
  --switcher-text: #9ccd1;
  --form-border: #d8e0f0;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}
