@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
}

body{
    background-color: var(--bg-app);
}

:root {
    --bg-app: #F4F9FD;
    --bg-block: #FFFFFF;
    --user-text: #0A1629;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}